<a href="https://colab.research.google.com/github/junuimoon/Doit-PYTHON/blob/master/Chapter2_Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
t1 = ()
t2 = (1,) # 요소 한개만 있어도 콤마 붙이기
t3 = (1, 2, 3)
t4 = 1, 2, 3 # 괄호 안붙여도 괜찮

In [0]:
# 튜플의 가장 큰 특징은 값을 변화시킬 수 없다! 나머지는 리스트와 완전히 동일

In [0]:
#인덱싱 - 가능
#슬라이싱 - 가능
# 곱하기 - 가능

In [5]:
t1 = (1, 2, 'a', 'b')
t1[1:]

(2, 'a', 'b')

In [6]:
t2 = (3, 4)
t1 + t2

(1, 2, 'a', 'b', 3, 4)

In [7]:
t2 * 3

(3, 4, 3, 4, 3, 4)

In [8]:
#나혼자 코딩
t1 = (1, 2, 3)
t2 = (4,)
t1 + t2

(1, 2, 3, 4)