<a href="https://colab.research.google.com/github/junuimoon/Doit-PYTHON/blob/master/Chapter2_Question.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#number 1

korean = 80
english = 75
math = 55

average =  (korean + english + math) / 3
print(average)

70.0

In [2]:
#number 2

number = 13 % 2
if number == 1:
    print('홀수입니다')
else:
    print('짝수입니다.')

홀수입니다

In [8]:
#number 3
pin = "881120-1068234"
birthday = '19' + str( pin[:6])
print(birthday)
el = str(pin[7:])
print(el)

19881120
1068234

In [11]:
#number 4
pin = "980530-1200111"
if pin[7] == 1:
    print("남성")
else:
    print('여성')

여성

In [12]:
#number 5
string = 'a:b:c:d'

string.replace(':', '#')

'a#b#c#d'

In [13]:
#number 6
a = [1, 3, 5, 4, 2]
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

In [14]:
#number 7
a = ['life', 'is', 'too', 'short']

result = " ".join(a) ## join 함수 -> 앞쪽에 어떤 걸 이용햐여 붙이냐를 이용
a

['life', 'is', 'too', 'short']

In [15]:
#number 8

a = (1, 2, 3)
b = (4,)

a + b
print(a + b)

(1, 2, 3, 4)

In [16]:
#number 10

a = {'A':90, 'B':80, 'C':70}
a.pop('B')

80

In [17]:
a

{'A': 90, 'C': 70}

In [19]:
#number 11
a = [1, 1, 1, 2, 2, 3, 3, 4, 4, 5]

aSet = set(a)
b = list(aSet)
print(b)

[1, 2, 3, 4, 5]